/*  GENERALL CSS  */
*   {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
}



/* BACKGROUND IMAGE 
.App {
background-image: url(../pages/img/BACKGROUND.png);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
*/


/*  CONTINUE CSS HERE  */
.img img{
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 100%;
  max-width: auto;
  max-height: 30vh;
  background-position: center center;
}

#logo:hover  {
cursor: pointer;
}

.navbar > .container { /* Endrer Max bredde til navigasjon slik at den kan sentreres horisontalt */
max-width: 100%;
margin: 0;
padding: 0;
}

.nav-link {
background-color: transparent;
position: inherit;
border: 0.5px;
border-color: rgb(12, 14, 13);
border-style: solid;
text-overflow: clip;
}

.dropdown-item {
border-color: transparent;
}

.navbar-nav .dropdown-menu {
background-color: white;
border-color: black;
}



/* MOBIL */
@media screen and (max-width: 1000px) {
  .card {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 120px;
    overflow: hidden;
  }
  #responsive-container-shop {
    margin-top: 10%;
  }
  #responsive-container-about {
    margin-top: 10%;
  }
  #responsive-container-order {
    margin-top: 12%;
  }
  #responsive-container-project {
    margin-top: 13%;
  }
  #responsive-container-contact {
    margin-top: 15%;
  }
  #responsive-container-slug {
    margin-top: 20%;
  }
}

/* PC */
@media screen and (min-width: 1000px) {
  .card {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 290px;
    overflow: hidden;
  }
  #contact-box-1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translateY(-50%);
  }
  #contact-box-2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 12.5%;
    transform: translateY(-50%);
  }
  #responsive-container-shop {
    margin-top: 3%;
  }
  #responsive-container-about {
    margin-top: 6%;
  }
  #responsive-container-order {
    margin-top: 6%;
  }
  #responsive-container-project {
    margin-top: 6%;
  }
  #responsive-container-contact {
    margin-top: 6%;
  }
  #responsive-container-slug {
    margin-top: 6%;
  }
}




/* CART STYLING: */

.cart-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}



.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}
.product-card{
 cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
 color: #324d67;

}
.product-card:hover{
  transform: scale(1.1,1.1)
}
.product-image{
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name{
  font-weight: 500;
}
.product-price{
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading{
  margin-left: 10px;
}
.cart-num-items{
  margin-left: 10px;
  color: #f02d34;
}
.empty-cart{
  margin:40px;
  text-align:center;
}
.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}
.product-container{
  margin-top: 15px;
  overflow: auto;
max-height: 70vh;
padding: 20px 10px;
}
.product{
  display: flex;
 gap: 20px;
  padding: px;
}
.product .cart-product-image{
  margin-bottom: 10%;
  border-style: solid;
  width:100% ;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.cart-bottom{
  bottom: 12px;
  right: 5px;
  width: 100%;
}

.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 200px;
   color: #324d67;

}
.item-desc .bottom{
  margin-top: 20%;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.buttons .add-to-cart{
  padding: 10px 20px;
  border: 1px solid #f02d34 ;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover{
  transform:scale(1.1,1.1)
}


.drawed_line_total {
  height: 5px;
  background: black;
}

.drawed_line_item {
  height: 1px;
  background: grey;
}

.box {
  border-style: solid;
  border-width: 1px;
}

/*SHOP*/

.card .top {
  display: inline-flex;
  width: 100%;
  height: 77.5%;
  overflow: hidden;
  justify-content: center;
}

.card .top img {
  height: 100%;

}

.card .bottom {
  height: 20%;
  width: auto;
}

.card .bottom p {
  text-align: left;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #444;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}